.main_sec {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../../Assets/images/signupbg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.right {
  width: 100%;
  max-width: 600px;
  border: 1px solid gray;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.664);
  padding: 35px;
}

.inner {
  width: 60%;
}

.main-img {
  size: cover;
}

@media only screen and (max-width: 700px) {
  .main_sec {
    display: block;
  }

  .left {
    /* height: 40vh; */
    display: none;
  }
  .right {
    width: 100%;
  }

  .inner {
    width: 80%;
  }
}
